@import "tailwindcss";
@plugin "daisyui";

:root {
  --blue-50: 239 246 255;
  --blue-100: 219 234 254;
  --blue-200: 191 219 254;
  --blue-300: 147 197 253;
  --blue-400: 96 165 250;
  --blue-500: 59 130 246;
  --blue-600: 37 99 235;
  --blue-700: 29 78 216;
  --blue-800: 30 64 175;
  --blue-900: 30 58 138;
  --blue-950: 23 37 84;



  --primary: var(--blue-700);
  --primary-hover: var(--blue-600);
  --primary-soft: var(--blue-100);
  --primary-deep: var(--blue-800);

  --secondary: var(--blue-400);
  --secondary-hover: var(--blue-500);
  --secondary-soft: var(--blue-200);
}
